@import './styles/variables.scss';

.App {
  min-height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background: $prime-color;
}

.header {
  padding: 15px;
  border-bottom: 1px solid #000;
  background: $secondary-color;

}

.main {
  flex: 1 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  padding: 15px;
  border-top: 1px solid #000;
  background: $secondary-color;
}